@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/sections/report.css?v=1.0")" rel="stylesheet" type="text/css" />
}

<img src="~/Content/img/author.png" alt="Author foto" />
<h2>E-Mail was successfully sended</h2>